<div class="container-fluid">

    <div class="row mb-3">
        <div class="col-md-7">
            <h1 class="display-4 mb-0">View Users</h1>
        </div>
        <div class="col-md-3 mt-auto">
            <div class="form-group">
                <label for="search">Search</label>
                <input type="text" class="form-control" [(ngModel)]="search" id="search">
            </div>
        </div>
        <div class="col-md-2 mt-auto">
            <div class="form-group">
                <label for="resultsPerPage">Results Per Page</label>
                <select class="form-control" [(ngModel)]="resultsPerPage" id="resultsPerPage">
                    <option>50</option>
                    <option>100</option>
                    <option>250</option>
                </select>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr class="d-flex">
                <th scope="col" [appSort]="sortData" data-name="lastName" class="col-6">
                    Last Name
                    <span *ngIf="sortData.sortProperty === 'lastName'">
                        {{(sortData.sortOrder === 'asc') ? ' ↑' : ' ↓'}}
                    </span>
                </th>
                <th scope="col" [appSort]="sortData" data-name="firstName" class="col-6">
                    First Name
                    <span *ngIf="sortData.sortProperty === 'firstName'">
                        {{(sortData.sortOrder === 'asc') ? ' ↑' : ' ↓'}}
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="d-flex" *ngFor="let r of filteredUsers()">
                <td class="col-6">{{r.lastName}}</td>
                <td class="col-6">{{r.firstName}}</td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="!usersNotYetLoaded()">

        <p class="text-muted">Showing 1375637568 of 787834 results</p>
        
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">First</a></li>
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                <li class="page-item"><a class="page-link" href="#">Last</a></li>
            </ul>
        </nav>
    </div>

</div>

<div *ngIf="usersNotYetLoaded()" class="d-flex justify-content-center">
    <div aria_label="Loading..." class="spinner-border" role="status"></div>
</div>