<div class="container-fluid">

    <div class="row mb-3">
        <div class="col-md-7">
            <h1 class="display-4 mb-0">View Users</h1>
        </div>
        <div class="col-md-3 mt-auto">
            <div class="form-group">
                <label for="search">Search</label>
                <input type="text" class="form-control" [ngModel]="search" (ngModelChange)="setSearch($event)">
            </div>
        </div>
        <div class="col-md-2 mt-auto">
            <div class="form-group">
                <label for="resultsPerPage">Results Per Page</label>
                <select class="form-control" [ngModel]="resultsPerPage" (ngModelChange)="setResultsPerPage($event)">
                    <option>50</option>
                    <option>100</option>
                    <option>250</option>
                </select>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr class="d-flex">
                <th *ngFor="let field of fields" scope="col" [class]="field.class" (click)="setSort(field.name)">
                    {{field.displayName}}
                    <span *ngIf="sort === field.name">
                        {{asc ? ' ↑' : ' ↓'}}
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="d-flex" *ngFor="let r of data.content">
                <td *ngFor="let field of fields" [class]="field.class">{{r[field.name]}}</td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="data.status === 'success'">

        <p class="text-muted">Showing {{data.content.length}} of {{data.totalElements}} {{(data.totalElements == 1) ? "result" : "results"}}</p>
        
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item" [ngClass]="{'disabled': pageNumber === 0}"><a class="page-link" href="#" onclick="event.preventDefault()" (click)="setPage(0)">First</a></li>
                <li class="page-item" [ngClass]="{'disabled': pageNumber === 0}"><a class="page-link" href="#" onclick="event.preventDefault()" (click)="setPage(pageNumber-1)">Previous</a></li>
                <li *ngFor="let _ of [].constructor(data.totalPages); let availablePage = index" class="page-item" [ngClass]="{'active': availablePage === pageNumber}">
                    <a class="page-link" href="#" onclick="event.preventDefault()" (click)="setPage(availablePage)">{{availablePage}}</a>
                </li>
                <li class="page-item" [ngClass]="{'disabled': pageNumber === data.totalPages-1}"><a class="page-link" href="#" onclick="event.preventDefault()" (click)="setPage(pageNumber+1)">Next</a></li>
                <li class="page-item" [ngClass]="{'disabled': pageNumber === data.totalPages-1}"><a class="page-link" href="#" onclick="event.preventDefault()" (click)="setPage(data.totalPages-1)">Last</a></li>
            </ul>
        </nav>
    </div>

</div>

<div *ngIf="data.status === 'pending'" class="d-flex justify-content-center">
    <div aria_label="Loading..." class="spinner-border text-primary" role="status"></div>
</div>

<div *ngIf="data.status === 'error'" class="alert alert-danger fade show">
    <strong>Error:</strong> Failed to retrieve users.
</div>